<div class="row">
  <div class="box col-md-4">

    <div class="card">
      <div class="card-side front">
        <img src="/assets/images/yg.jpg" />
      </div>
      <div class="card-side back">
        <h3>Yakshagana</h3>
        <p>Yakshagaana is a traditional theatre, developed in Dakshina Kannada, Udupi, Uttara Kannada,
          Shimoga and western parts of Chikmagalur districts, in the state of Karnataka and in Kasaragod district in
          Kerala that combines dance, music, dialogue, costume, make-up, and stage techniques with a unique style and
          form.</p>
      </div>
    </div>
  </div>

  <div class="box col-md-4">

    <div class="card">
      <div class="card-side front">
        <img src="/assets/images/pv.jpg" />
      </div>
      <div class="card-side back">

        <h3>Pilivesha</h3>
        <p>Pili Vesha is a folk dance unique in coastal Karnataka.Pilivēṣa is performed during Navratri
          to
          honour the Goddess Durga whose favoured animal is the tiger. It was originated in Udupi District of Karnataka
          and initially performed during the Krishna Janmashtami/Mosarukudike and Ganesha Chaturthi </p>
      </div>
    </div>
  </div>

  <div class="box col-md-4">

    <div class="card">
      <div class="card-side front">
        <img src="/assets/images/kg.jpg" />
      </div>
      <div class="card-side back">

        <h3>Kangilu</h3>
        <p>Kangilu is a spiritual form of dance performed by the Mandal community. Kangilu is performed
          only on the day of a full moon, and it is believed to keep away disease, evil spirits, and other negative
          energy, and to foster peace, harmony, and a community spirit.</p>
      </div>
    </div>
  </div>

  <div class="box col-md-6">

    <div class="card">
      <div class="card-side front">
        <img src="/assets/images/bk.jpg" />
      </div>
      <div class="card-side back">

        <h3>Bhoota Kola</h3>
        <p>A ritual called nema or kola is performed for ghosts/gods. Conducting kola/nema has its own
          race
          and rules. The face is painted, wrapped in a Siri made of coconut feathers, and danced invoking the deity. The
          Divine Dancer gives justice to human beings and resolves disputes through the Word of God. Deity worship is
          the
          fundamental religious belief of the Tulu race.</p>
      </div>
    </div>
  </div>

  <div class="box col-md-6">
    <div class="card">
      <div class="card-side front">
        <img src="/assets/images/kb.jpg" />
      </div>
      <div class="card-side back">

        <h3>Kambala</h3>
        <p>Kambala (or Kambla/Kambula) is an annual buffalo race held in the southwestern Indian state of
          Karnataka. Traditionally, it is sponsored by local Tuluva landlords and households in the coastal districts of
          Dakshina Kannada and Udupi of Karnataka and Kasaragod of Kerala, a region collectively known as Tulu Nadu.
          The Kambala season generally starts in November and lasts until March.</p>
      </div>
    </div>
  </div>
</div>