<section class="sec-banner" style="background-image: url('/assets/images/dus.jpg')">
  <div class="opaque-div">
    <h3>Dasara</h3>
    <p>It is also referred as Navarathri Festival, Vijayadashami. The tiger dance, lion dance and bear dance are the
      main attractions. The city is decorated with lights for the span of 10 days of the occasion. People decorate
      their houses and businesses, shops, hotels, etc. Most of the roads in Mangalore such as M.G Road, K.S Rao
      Road, GHS Road are seen garnished with lights and electric lanterns for the procession.</p>
  </div>
</section>

<section class="sec-banner" style="background-image: url('/assets/images/mosaru.jpg')">
  <div class="opaque-div">
    <h3>Krishna Janmashtami</h3>
    <p>The devotees in Mangalore celebrate ‘Mosaru kudike’ (Dahi Handi) with all devotion and enthusiasm in the night.
      Youth comprising of small children to grown ups assemble at a place where the festival is celebrated. The festival
      mimics the childhood pranks of Lord Krishna who was notorious for thieving curds stored by his mother in a mud pot
      close to the ceiling where he cannot reach it. However little Krishna somehow manages to lay his hands on the pot
      by trying all sorts of antics and stunts. Similarly, through this festival the devotees convey their love for Lord
      Krishna by imitating his love for curds by breaking the mud pots filled with goodies and curds tied at greater
      heights on the poles, amid the loud cheering of their crowds.</p>
  </div>
</section>

<section class="sec-banner" style="background-image: url('/assets/images/car.jpg')">
  <div class="opaque-div">
    <h3>Car festival</h3>
    <p>The Sri Venkataramana temple holds a 5 day car festival in the month of February every year. This year it was
      organised from the 8th till 12th of February 2019. It was a grand programme inclusive of religious programmes/
      chariot pulling by devotees/ distribution of Prasad & food to community members (Gowd Saraswat Brahmins). The
      event was attended by thousands of devotees of all age groups. The programme culminated with the pulling of a
      small chariot on the 11th and a bigger one on the 12th of February. Both evenings the programme continued past
      midnight with the people enjoying themselves along with family and friends.</p>
  </div>
</section>

<section class="sec-banner" style="background-image: url('/assets/images/aati.png')">
  <div class="opaque-div">
    <h3>Aati</h3>
    <p>Kalenja festival has a great tradition to look back in history. The festival falls during the rainy season of
      July-August in the month of Aati. The festival is celebrated to commemorate the arrival of Kalenja who comes to
      protect the people from all the bad omens like diseases, bacteria, flood etc.</p>
  </div>
</section>

<section class="sec-banner" style="background-image: url('/assets/images/chauthi.jpg')">
  <div class="opaque-div">
    <h3>Ganesh chaturthi</h3>
    <p>Ganesh Chaturthi is celebrated with great devotion all over India. People bring home murtis (Idols) of Lord
      Ganesha and celebrate the festival by worshiping the Lord in a special way for a day and a half, 3 days, 5 days, 7
      days or 10 days depending on the family tradition and commitment of each individual.
      On the last day of worship the idol is taken out in a colourful and musical procession to be immersed
      traditionally at a beach.</p>
  </div>
</section>

<section class="sec-banner" style="background-image: url('/assets/images/makar.jpg')">
  <div class="opaque-div">
    <h3>Makar sankranthi</h3>
    <p>Makara Sankranti marks the transition of the Sun into the zodiac sign of Makara (Capricorn) on its celestial
      path. The day is also believed to mark the arrival of spring in India and is a traditional event. Makara
      Sankranthi is a solar event making one of the few Indian festivals which fall on the same date in the Gregorian
      calendar every year: 15 January, with some exceptions. It brings with it the happiness of getting new crops for
      farmers. It also symbolizes the end of the winter solstice which makes the day last longer than night.</p>
  </div>
</section>

<section class="sec-banner" style="background-image: url('/assets/images/diwali.jpg')">
  <div class="opaque-div">
    <h3>Deepavali</h3>
    <p>The word Diwali means rows of lighted lamps. Diwali is known as the ‘festival of lights because houses, shops and
      public places are decorated with small earthenware oil lamps called diyas.People all around India enjoy
      celebrating the holiday of Diwali with great fervour. Numerous diyas, candles, and multi coloured light bulbs
      flood the moonless night on the day of Diwali, creating an enthralling display of colour, light, energy, and
      enthusiasm.</p>
  </div>
</section>