<section class="row">
    <div class="b1 col-md-5">
        <img src="/assets/images/panambur.jpg" />
    </div>
    <div class="b2 col-md-7">
        <h3>Panambur beach</h3>
        <p class="text">
            Panambur Beach is one of the most popular beaches in Mangaluru city in coastal Karnataka. Known to be one of
            the safest and well-maintained beaches, it is also famous for its dramatic sunset. The beach aura warms up
            during the carnivals, organized by the district authorities. The festivities include boat races, beach
            sports and sand sculpture contests. The beach has jet ski rides, boating, dolphin viewing, food stalls,
            besides trained beach lifeguards and patrol vehicles to ensure the safety of the visitors to the beach.
    </div>
</section>

<section class="row">
    <div class="b2 col-md-7">
        <h3 class="line">Kudroli gokarnath temple</h3>
        <p class="text">The Gokarnanatheshwara Temple, otherwise known as Kudroli Sri Gokarnanatha Kshetra, is in the
            Kudroli area of Mangalore in Karnataka, India. It was consecrated by Narayana Guru. It is dedicated to
            Gokarnanatha, a form of Lord Shiva. This temple was built in 1912 by Adhyaksha HoigeBazar Koragappa.This
            temple is now accepted as "Aadi" by the Billava community.
            The temple is 2 km from the centre of Mangalore city. The temple has Gopuram (tower like structure)
            decorated with murals of various gods and goddesses. Murals depict scenes from Hindu epics and legends.</p>
    </div>
    <div class="b1 col-md-5">
        <img src="/assets/images/kudroli.jpg" />
    </div>
</section>

<section class="row">
    <div class="b1 col-md-5">
        <img src="/assets/images/pilikula.jpg" />
    </div>
    <div class="b2 col-md-7">
        <h3 class="line">Pilikula nisargadhama</h3>
        <p class="text">Pilikula Nisargadhama is a multi-purpose tourist attraction, at Vamanjoor, eastern part of
            Mangalore city in Karnataka, managed by the District Administration of Dakshina Kannada. It is a major
            tourist attraction of Mangalore. It attracts large number of tourists due to the availability of multiple
            facilities.</p>
    </div>
</section>

<section class="row">
    <div class="b2 col-md-7">
        <h3 class="line">NITK light house</h3>
        <p class="text">NITK Lighthouse is a prominent destination in Surathkal which is a suburb in the city of
            Mangalore, at a distance of approx 25 kms from the heart of the city. This Lighthouse is present inside the
            campus of NITK. It is a private beach. NITK Lighthouse, constructed in the year 1972, is a major crowd
            puller in Surathkal. This lighthouse offers a eye bird view of the beachfront of Surathkal beach. This
            lighthouse offers a magnificient view coupled with a serene and calm beach that makes it a splendid place to
            unwind. </p>
    </div>
    <div class="b1 col-md-5">
        <img src="/assets/images/nitk.jpg" />
    </div>
</section>

<section class="row">
    <div class="b1 col-md-5">
        <img src="/assets/images/kadri.png" />
    </div>
    <div class="b2 col-md-7">
        <h3 class="line">Kadri hill park</h3>
        <p class="text">Kadri Park is a park located in Kadri Gudde. It is the largest park in Mangalore. This park
            contains a musical fountain and has hosted the Karavali Utsav. The park is famous for flower shows in
            Mangalore.</p>
    </div>
</section>

<section class="row">
    <div class="b2 col-md-7">
        <h3 class="line">St. Aloysious chapel</h3>
        <p class="text">St Aloysius College was built in 1882. The southern wing of the building formed the Chapel as a
            place of prayer for students. The Chapel built in 1885 by Rev Father Joseph Willy, is a replica of world
            renowned Sistine Chapel at Rome. The main part of this chapel is a large hall, which is called the nave. On
            either side of the nave are the two aisles. The raised platform is called sanctuary. Touching the wall of
            the sanctuary is the main alter.

        </p>
    </div>
    <div class="b1 col-md-5">
        <img src="/assets/images/aloy.jpg" />
    </div>
</section>