<div class="row">
  <div class="box col-md-4">
    <div class="b1">
      <img src="/assets/images/neerdosa.jpg" />
    </div>
    <div class="b2">
      <h3 class="line">Neer dosa</h3>
    </div>
  </div>
  <div class="box col-md-4">
    <div class="b1">
      <img src="/assets/images/korirotti.jpg" />
    </div>
    <div class="b2">
      <h3 class="line">Kori rotti</h3>
    </div>
  </div>
  <div class="box col-md-4">
    <div class="b1">
      <img src="/assets/images/golibaje.jpg" />
    </div>
    <div class="b2">
      <h3 class="line">Goli baje</h3>
    </div>
  </div>

  <div class="box col-md-4">
    <div class="b1">
      <img src="/assets/images/pathrode.jpg" />
    </div>
    <div class="b2">
      <h3 class="line">Pathrode</h3>
    </div>
  </div>
  <div class="box col-md-4">
    <div class="b1">
      <img src="/assets/images/moode.jpg" />
    </div>
    <div class="b2">
      <h3 class="line">Moode</h3>
    </div>
  </div>
  <div class="box col-md-4">
    <div class="b1">
      <img src="/assets/images/anjal.jpg" />
    </div>
    <div class="b2">
      <h3 class="line">Anjal fry</h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="box col-md-4">
    <div class="b1">
      <img src="/assets/images/buns.jpg" />
    </div>
    <div class="b2">
      <h3 class="line">Mangalore buns</h3>
    </div>
  </div>
  <div class="box col-md-4">
    <div class="b1">
      <img src="/assets/images/pundi.jpg" />
    </div>
    <div class="b2">
      <h3 class="line">Maruvai pundi</h3>
    </div>
  </div>
  <div class="box col-md-4">
    <div class="b1">
      <img src="/assets/images/rotti.jpg" />
    </div>
    <div class="b2">
      <h3 class="line">Kappa rotti</h3>
    </div>
  </div>