<section class="section1">
  <div class="container">
    <h1>NAMMA</h1>
    <h1>KUDLA</h1>
  </div>
</section>

<section class="row section2">
  <div class="col-md-5 sec-2-div">
    <h3>Mangalore</h3>
  </div>
  <div class="col-md-7 sec-2-div">
    <p>Mangalore (or Mangaluru) is an Arabian Sea port and a major commercial center in the Indian state of
      Karnataka. It's home to the Kadri Manjunath Temple, known for its bronze statues, and the 9th-century Mangaladevi
      Temple. Its Catholic sites include Milagres Church, dating to the 17th century, and St. Aloysious Chapel, which
      features interior paintings. Tannirbhavi Beach is popular for its sunset views.</p>
  </div>
</section>

<section class="section3">
  <div id="sec3" class="opaque-div row reveal">
    <div  class="info-div col-md-6">
      <div  class="abox1  rotate-center">
        <div class="line1">
          <h3>Area</h3>
        </div>
        <div class="line2">
          <p>Mangalore has a city area of 170 km2 (65.64 sq mi) and and an Elevation of 22 m </p>
        </div>
      </div>
    </div>
    <div class="info-div col-md-6">
      <div class="abox1 rotate-center">
        <div class="line1">
          <h3>Population</h3>
        </div>
        <div class="line2">
          <p>The current estimate population of Mangalore city in 2022 is 654,000. </p>
        </div>
      </div>
    </div>
    <div class="info-div col-md-4">
      <div class="abox1 rotate-center">
        <div class="line1">
          <h3>Many names</h3>
        </div>
        <div class="line2">
          <p>Mangalore is named after the goddess Mangaladevi. Other names used by the locals are 'Kudla'
            (Tulu), 'Mangalooru' (Kannada), 'Mangalapuram' (Malayalam),'Kodeyaala' ("Havyaka"), 'Kodial' (Konkani),
            'Maikala' (Beary) and 'Manjarun'(sanskrith).</p>
        </div>
      </div>
    </div>
    <div class="info-div col-md-4">
      <div class="abox1 rotate-center">
        <div class="line1">
          <h3>Unique culture</h3>
        </div>
        <div class="line2">
          <p>The Pilivesha (Tiger dance) is a folk dance unique to this area, which is performed during
            Dasara and Krishna Janmashtami. Karadi Vesha (Bear Dance) is performed during Dasara in Mangalore. Bhuta
            Kola or spirit worship, is practised here. Kambala or buffalo race is conducted in water filled paddy
            fields.</p>
        </div>
      </div>
    </div>
    <div class="info-div col-md-4">
      <div class="abox1 rotate-center">
        <div class="line1">
          <h3>All transport</h3>
        </div>
        <div class="line2">
          <p>Mangalore's location in the Indian state of Karnataka makes it accessible by all forms of
            transport: road, rail, air and sea. It is the largest city in the Coastal Karnataka region, and is the only
            city in Karnataka and one among the six cities in India to have an International Airport, a Major Seaport,
            railway & road connectivities.</p>
        </div>
      </div>
    </div>
  </div>
</section>